body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


input[type=text],
input[type=number],
input[type=email],
input[type=submit],
input[type=password]
{
  padding: 9px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing:0.1cap;
}
::placeholder{
  font-size: 15px;
  font-weight: 500;
}

.form-control:focus {
    border-color: #2c262c;
    /* border-color: #000000; */
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
    /* box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25); */
}
/* input[type=text]:focus{
    border: 2px solid black;
} */
.forget-password{
    color: #000; 
    margin-left: 100px;
}
.chat-msg{
    width:50%;
}

input[type="email"]:disabled{background-color:red;}

@media screen and (max-width: 360px) {
    /* body {
      background-color: blue;
    } */
    .chat-msg{
        width:90%;
    }
    .forget-password{
        color: #000; 
        margin-left: 70px;
    }
  }
  /* ------------------- */
  
.gradient {
  background: rgb(61, 77, 101);
  background: linear-gradient(
    135deg,
    rgb(143, 155, 172) 0%,
    rgb(27, 26, 28) 100%
  );

  /* background: rgb(1,1,3);
  background: linear-gradient(
    90deg, rgba(1,1,3,1) 0%,
    rgba(115,115,122,1) 35%, 
    rgba(87,92,91,1) 100%); */
}

.page-header {
  /* margin-top: 3rem; */
  font-size: 1.25rem;
  color: #fff;
}

.feature {
  color: #fff;
}

.feature ul {
  padding-left: 2rem;
  list-style-type: none;
}

.feature ul li {
  padding-left: 2rem;
  /* background-image: url(../img/check.svg); */
  background-repeat: no-repeat;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.icon {
  color: #fff;
  height: 5rem;
  width: 5rem;
  font-size: 1.75rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  background-color: whitesmoke;
}

.gallery img {
  border-radius: 5%;
}

.services {
  color: #fff;
}

footer {
  color: #fff;
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
}
